/***************Complete Page*************/

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/* Main Page */

.main-page{
    background-color: white;
    height: 100vh;
    display: flex;
}

/*Side Line*/

.side-line{
    background-color: aqua;
    height: 100%;
    width: 25px;
}

/*Side Bar*/

.side-bar{
    background-color: royalblue;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px; 
    box-shadow: 1px 1px 10px  (185, 185, 185);
}

.right-panel{
    /* background-color: white; */
    height: 100%;
    width: 100%;

}

.circle{
    background-color: gray;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}